[buildout]
always-checkout = force
# Same sources and branches as server.dmsmail (base.cfg, dev.cfg, test.cfg, sources-dev.cfg),
# except collective.contact.widget: master is Plone 6 only since 2026-10-09, 1.x is the Plone 4 code
auto-checkout +=
    Products.CMFEditions
    Products.CPUtils
    Products.PasswordStrength
    appy
    collective.behavior.talcondition
    collective.ckeditortemplates
    collective.classification.folder
    collective.classification.tree
    collective.compoundcriterion
    collective.contact.contactlist
    collective.contact.core
    collective.contact.duplicated
    collective.contact.facetednav
    collective.contact.importexport
    collective.contact.plonegroup
    collective.contact.widget
    collective.dms.basecontent
    collective.dms.batchimport
    collective.dms.mailcontent
    collective.dms.scanbehavior
    collective.documentgenerator
    collective.documentviewer
    collective.eeafaceted.batchactions
    collective.eeafaceted.collectionwidget
    collective.eeafaceted.dashboard
    collective.eeafaceted.z3ctable
    collective.excelexport
    collective.externaleditor
    collective.iconifiedcategory
    collective.js.datatables
    collective.js.tooltipster
    collective.messagesviewlet
    collective.portlet.actions
    collective.querynextprev
    collective.relationhelpers
    collective.task
    collective.wfadaptations
    collective.z3cform.select2
    collective.zamqp
    communesplone.layout
    dexterity.localroles
    dexterity.localrolesfield
    eea.facetednavigation
    ftw.labels
    imio.actionspanel
    imio.annex
    imio.dashboard
    imio.dataexchange.core
    imio.dms.soap2pm
    imio.esign
    imio.fpaudit
    imio.helpers
    imio.history
    imio.migrator
    imio.pm.locales
    imio.pm.wsclient
    imio.prettylink
    imio.pyutils
    imio.zamqp.core
    plone.app.robotframework
    plone.formwidget.datetime
    plonetheme.imioapps
    transmogrify.dexterity
    zc.recipe.testrunner
    zope.sendmail

[remotes]
imio = https://github.com/imio
imio_push = git@github.com:imio
plone = https://github.com/plone
plone_push = git@github.com:plone
ftw = https://github.com/4teamwork
ftw_push = git@github.com:4teamwork
zopefoundation = https://github.com/zopefoundation
zopefoundation_push = git@github.com:zopefoundation
zopesvn = svn://svn.zope.org/repos/main/
collective = https://github.com/collective
collective_push = git@github.com:collective
sge = https://github.com/sgeulette
sge_push = git@github.com:sgeulette

[sources]
appy = git ${remotes:imio}/appy.git pushurl=${remotes:imio_push}/appy.git
collective.behavior.talcondition = git ${remotes:collective}/collective.behavior.talcondition.git pushurl=${remotes:collective_push}/collective.behavior.talcondition.git
collective.ckeditortemplates = git ${remotes:collective}/collective.ckeditortemplates.git pushurl=${remotes:collective_push}/collective.ckeditortemplates.git
collective.classification.folder = git ${remotes:imio}/collective.classification.folder.git pushurl=${remotes:imio_push}/collective.classification.folder.git
collective.classification.tree = git ${remotes:imio}/collective.classification.tree.git pushurl=${remotes:imio_push}/collective.classification.tree.git
collective.compoundcriterion = git ${remotes:collective}/collective.compoundcriterion.git pushurl=${remotes:collective_push}/collective.compoundcriterion.git
collective.contact.contactlist = git ${remotes:collective}/collective.contact.contactlist.git pushurl=${remotes:collective_push}/collective.contact.contactlist.git
collective.contact.core = git ${remotes:collective}/collective.contact.core.git pushurl=${remotes:collective_push}/collective.contact.core.git
collective.contact.duplicated = git ${remotes:collective}/collective.contact.duplicated.git pushurl=${remotes:collective_push}/collective.contact.duplicated.git
collective.contact.facetednav = git ${remotes:collective}/collective.contact.facetednav.git pushurl=${remotes:collective_push}/collective.contact.facetednav.git
collective.contact.importexport = git ${remotes:imio}/collective.contact.importexport.git pushurl=${remotes:imio_push}/collective.contact.importexport.git
collective.contact.plonegroup = git ${remotes:collective}/collective.contact.plonegroup.git pushurl=${remotes:collective_push}/collective.contact.plonegroup.git
collective.contact.widget = git ${remotes:collective}/collective.contact.widget.git pushurl=${remotes:collective_push}/collective.contact.widget.git branch=1.x
collective.dms.basecontent = git ${remotes:collective}/collective.dms.basecontent.git pushurl=${remotes:collective_push}/collective.dms.basecontent.git
collective.dms.batchimport = git ${remotes:collective}/collective.dms.batchimport.git pushurl=${remotes:collective_push}/collective.dms.batchimport.git
collective.dms.mailcontent = git ${remotes:collective}/collective.dms.mailcontent.git pushurl=${remotes:collective_push}/collective.dms.mailcontent.git
collective.dms.scanbehavior = git ${remotes:collective}/collective.dms.scanbehavior.git pushurl=${remotes:collective_push}/collective.dms.scanbehavior.git
collective.documentgenerator = git ${remotes:collective}/collective.documentgenerator.git pushurl=${remotes:collective_push}/collective.documentgenerator.git branch=3.x
collective.documentviewer = git ${remotes:sge}/collective.documentviewer.git pushurl=${remotes:sge_push}/collective.documentviewer.git branch=3.x
collective.eeafaceted.batchactions = git ${remotes:imio}/collective.eeafaceted.batchactions.git pushurl=${remotes:imio_push}/collective.eeafaceted.batchactions.git
collective.eeafaceted.collectionwidget = git ${remotes:collective}/collective.eeafaceted.collectionwidget.git pushurl=${remotes:collective_push}/collective.eeafaceted.collectionwidget.git
collective.eeafaceted.dashboard = git ${remotes:collective}/collective.eeafaceted.dashboard.git pushurl=${remotes:collective_push}/collective.eeafaceted.dashboard.git
collective.eeafaceted.z3ctable = git ${remotes:collective}/collective.eeafaceted.z3ctable.git pushurl=${remotes:collective_push}/collective.eeafaceted.z3ctable.git
collective.excelexport = git ${remotes:collective}/collective.excelexport.git pushurl=${remotes:collective_push}/collective.excelexport.git branch=1.x
collective.externaleditor = git ${remotes:sge}/collective.externaleditor.git pushurl=${remotes:sge_push}/collective.externaleditor.git
collective.iconifiedcategory = git ${remotes:imio}/collective.iconifiedcategory.git pushurl=${remotes:imio_push}/collective.iconifiedcategory.git
collective.js.datatables = git ${remotes:collective}/collective.js.datatables.git pushurl=${remotes:collective_push}/collective.js.datatables.git branch=4.x
collective.js.tooltipster = git ${remotes:collective}/collective.js.tooltipster.git pushurl=${remotes:collective_push}/collective.js.tooltipster.git
collective.messagesviewlet = git ${remotes:collective}/collective.messagesviewlet.git pushurl=${remotes:collective_push}/collective.messagesviewlet.git
collective.portlet.actions = git ${remotes:sge}/collective.portlet.actions.git pushurl=${remotes:sge_push}/collective.portlet.actions.git
collective.querynextprev = git ${remotes:collective}/collective.querynextprev.git pushurl=${remotes:collective_push}/collective.querynextprev.git
collective.relationhelpers = git ${remotes:imio}/collective.relationhelpers.git pushurl=${remotes:imio_push}/collective.relationhelpers.git branch=plone4
collective.task = git ${remotes:collective}/collective.task.git pushurl=${remotes:collective_push}/collective.task.git
collective.wfadaptations = git ${remotes:collective}/collective.wfadaptations.git pushurl=${remotes:collective_push}/collective.wfadaptations.git
collective.z3cform.select2 = git ${remotes:sge}/collective.z3cform.select2.git pushurl=${remotes:sge_push}/collective.z3cform.select2.git branch=2.x
collective.zamqp = git ${remotes:collective}/collective.zamqp.git pushurl=${remotes:collective_push}/collective.zamqp.git
communesplone.layout = git ${remotes:imio}/communesplone.layout.git pushurl=${remotes:imio_push}/communesplone.layout.git
dexterity.localroles = git ${remotes:collective}/dexterity.localroles.git pushurl=${remotes:collective_push}/dexterity.localroles.git
dexterity.localrolesfield = git ${remotes:collective}/dexterity.localrolesfield.git pushurl=${remotes:collective_push}/dexterity.localrolesfield.git
eea.facetednavigation = git ${remotes:collective}/eea.facetednavigation.git pushurl=${remotes:collective_push}/eea.facetednavigation.git branch=14.x
ftw.labels = git ${remotes:ftw}/ftw.labels.git pushurl=${remotes:ftw_push}/ftw.labels.git
imio.actionspanel = git ${remotes:imio}/imio.actionspanel.git pushurl=${remotes:imio_push}/imio.actionspanel.git
imio.annex = git ${remotes:imio}/imio.annex.git pushurl=${remotes:imio_push}/imio.annex.git
imio.dashboard = git ${remotes:imio}/imio.dashboard.git pushurl=${remotes:imio_push}/imio.dashboard.git
imio.dataexchange.core = git ${remotes:imio}/imio.dataexchange.core.git pushurl=${remotes:imio_push}/imio.dataexchange.core.git
imio.dms.soap2pm = git ${remotes:imio}/imio.dms.soap2pm.git pushurl=${remotes:imio_push}/imio.dms.soap2pm.git
imio.esign = git ${remotes:imio}/imio.esign.git pushurl=${remotes:imio_push}/imio.esign.git branch=main
imio.fpaudit = git ${remotes:imio}/imio.fpaudit.git pushurl=${remotes:imio_push}/imio.fpaudit.git branch=main
imio.helpers = git ${remotes:imio}/imio.helpers.git pushurl=${remotes:imio_push}/imio.helpers.git
imio.history = git ${remotes:imio}/imio.history.git pushurl=${remotes:imio_push}/imio.history.git
imio.migrator = git ${remotes:imio}/imio.migrator.git pushurl=${remotes:imio_push}/imio.migrator.git
imio.pm.locales = git ${remotes:imio}/imio.pm.locales.git pushurl=${remotes:imio_push}/imio.pm.locales.git
imio.pm.wsclient = git ${remotes:imio}/imio.pm.wsclient.git pushurl=${remotes:imio_push}/imio.pm.wsclient.git
imio.prettylink = git ${remotes:imio}/imio.prettylink.git pushurl=${remotes:imio_push}/imio.prettylink.git
imio.pyutils = git ${remotes:imio}/imio.pyutils.git pushurl=${remotes:imio_push}/imio.pyutils.git
imio.zamqp.core = git ${remotes:imio}/imio.zamqp.core.git pushurl=${remotes:imio_push}/imio.zamqp.core.git
plone.formwidget.datetime = git ${remotes:sge}/plone.formwidget.datetime.git pushurl=${remotes:sge_push}/plone.formwidget.datetime.git
plonetheme.imioapps = git ${remotes:imio}/plonetheme.imioapps.git pushurl=${remotes:imio_push}/plonetheme.imioapps.git
# Plone 4.3 forks (server.dmsmail)
plone.app.robotframework = git ${remotes:sge}/plone.app.robotframework.git pushurl=${remotes:sge_push}/plone.app.robotframework.git branch=1.2.x
Products.CMFEditions = git ${remotes:imio}/Products.CMFEditions pushurl=${remotes:imio_push}/Products.CMFEditions branch=2.2.x
Products.CPUtils = git ${remotes:imio}/Products.CPUtils pushurl=${remotes:imio_push}/Products.CPUtils
Products.PasswordStrength = git ${remotes:collective}/Products.PasswordStrength.git pushurl=${remotes:collective_push}/Products.PasswordStrength.git branch=4.3
transmogrify.dexterity = git ${remotes:imio}/transmogrify.dexterity.git pushurl=${remotes:imio_push}/transmogrify.dexterity.git branch=1.6
zc.recipe.testrunner = git ${remotes:sge}/zc.recipe.testrunner.git pushurl=${remotes:sge_push}/zc.recipe.testrunner.git branch=2.2
zope.sendmail = git ${remotes:imio}/zope.sendmail.git pushurl=${remotes:imio_push}/zope.sendmail.git branch=3.7
