[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-4.3.x.cfg
    base.cfg
    versions-4.3.cfg

update-versions-file = test-4.3.cfg

index = https://pypi.org/simple/

eggs +=
    Products.DocFinderTab
    aws.zope2zcmldoc

# imported by the tests (Python 2 backport of unittest.mock)
test-eggs +=
    mock

# http://<your-zope-root>/@@install-aws-zope2zcmldoc

[versions]
# Not in versions-4.3.cfg (server.dmsmail pins), from scripts-buildout test-4.3.cfg
aws.zope2zcmldoc = 1.1.0
pdbpp = 0.10.3

# Required by:
# qa.cfg
pep517 = 0.8.2

# Added by buildout at 2023-03-07 15:07:25.523214
createcoverage = 1.5
isort = 4.3.21
futures = 3.4.0
mccabe = 0.6.1
plone.recipe.codeanalysis = 3.0.1
pyflakes = 2.3.1
testfixtures = 6.18.5

# Required by:
# pdbpp==0.10.3
fancycompleter = 0.9.1
pathtools = 0.1.2
pyrepl = 0.9.0
wmctrl = 0.4

# Added by buildout at 2026-10-11 02:44:29.376151
# 1.2+ is Python 3 only (pdbp dependency)
tabcompleter = 1.1.0
